@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Pretendard;
}

/* hr 띄어주는 용도 */
#hr {
  width: 100%;
  height: 106px;
  background-color: #333;
}
iframe {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin: 1rem;
}
.filp {
  width: 260px;
  height: 300px;
  position: relative;
  perspective: 1100px;
  margin: 2rem;
  cursor: pointer;
}

.wrap {
  width: 100%;
  height: 100%;
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: transform 0.4s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
}

.front {
  background-color: dodgerblue;
}
.front > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.back {
  /* background-color: tomato; */
  background-color: #333;
  border: 1px solid black;
  transform: rotateY(180deg);
}

/* .filp:hover .wrap {
  width: 600px;
  height: 500px;
  transform: rotateY(180deg) scale(1.2);
} */
.filp.deg .wrap {
  width: 600px;
  height: 500px;
  transform: rotateY(180deg) scale(1.2);
}

.card {
  width: 100%;
  height: 100%;
}

.card-wrap {
  width: 100%;
  height: 100%;
}

.card-wrap > h2 {
  width: 100%;
  height: 100%;
}

.video {
  display: flex;
}

.video-span {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* 영화 레이아웃 */
.main-container {
  width: 100%;
  background-color: #333;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
/* 인기영화 레이아웃 */
/* 추천영화 레이아웃 */
/* 신작영화 레이아웃 */
.prpularity,
.recommend,
.now-in {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1rem;
}
