body {
  background: linear-gradient(#1f1f1f, #000000);
}

.ms-container {
  width: 100%;
  height: 100%;
  margin: 105px 0;
}

.ms-header {
  /* background-color: rgb(22, 131, 226); */
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  padding: 1.3rem 16px;
  color: rgb(216, 22, 22);
}
.ms-header > h2 {
  font-size: 32px;
}
.ms-body {
  width: 100%;
  height: 100%;
  margin: 100px 0;
}

.ms-card-center {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ms-card {
  background: linear-gradient(45deg, #3498db, rgb(216, 22, 22));
  /* background: linear-gradient(45deg, #e74c3c, #2ecc71); */

  width: 80%;
  height: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

.ms-card.second {
  /* background: linear-gradient(45deg, rgb(216, 22, 22), blue); */
  /* background: linear-gradient(45deg, #3498db, #2ecc71 ); */
  background: linear-gradient(45deg, rgb(216, 22, 22), #3498db);
}

.ms-card.thrid {
  /* background: linear-gradient(45deg, rgb(216, 22, 22), blue); */
  background: #3498db;
}

.ms-card h3 {
  text-align: center;
  padding: 1rem 0;
  color: white;
}

.ms-card .line {
  border: 1px solid white;
}

.ms-card-ac {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* background: linear-gradient(60deg, rgb(60, 255, 0), purple); */
  width: 90%;
  margin: 1.5rem auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.ms-card.first > .ms-card-ac {
  background: linear-gradient(60deg, rgb(60, 255, 0), purple);
}
.ms-card.second > .ms-card-ac {
  background: linear-gradient(60deg, rgb(43, 43, 44), purple);
}
.ms-card.thrid > .ms-card-ac {
  background-color: rgb(28, 28, 253);
}
.ms-card.first > .ms-card-ac:hover {
  background: linear-gradient(45deg, red, black);
}
.ms-card.second > .ms-card-ac:hover {
  background: linear-gradient(45deg, #3498db, #e74c3c);
}
.ms-card.thrid > .ms-card-ac:hover {
  background-color: #154360;
}

/* .ms-card-ac:hover {
  background: linear-gradient(45deg, red, black);
} */

.ms-card-box {
  width: 90%;
  margin: 0 auto;
  background: #1b1b1b;
  color: white;
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 16px;
  margin-top: 1rem;
}

.ms-card-wrap {
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
}

.ms-footer {
  color: white;
  padding: 1rem 4rem;
}

.ms-footer li {
  padding: 1px 0;
}
